
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <span class="navbar-brand">My TODO List</span>
  <div class="navbar-nav " >
    <a class="nav-item nav-link" routerLink="/new-todo" routerLinkActive="text-danger">ADD</a>
    <a class="nav-item nav-link" routerLink="/todos" routerLinkActive="text-danger">LIST</a>
    <a class="nav-item nav-link" routerLink="/fav-todos" routerLinkActive="text-danger">FAVORITE TODO LIST</a>
  </div>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>
